{% extends 'base.html'%}
{% block content %}
<div class="row row flex">
    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% for product in products %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <div class="product product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}">
            </div>
            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description }} </p>
            <p> {{ product.price }}</p>
            <form method="POST" id="quantity" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required>
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}