form {
    width: 50%;
}

.product-image {
    background-image: url('{{ MEDIA_URL }}{{ product_image }}');
}

.spacing-navbar-navs {
    width: 600px;
    justify-content: flex-end;
}

.my-input-line {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 200px;
}

.search-btn {
    background-color: transparent;
    border: 0px;
}

.my-navbar {
    background-color: white;
}

.my-nav-item {
    padding: 15px;
}

.my-logo {
    height: 75px;
    width: 100px;
}

.didact-gothic-font {
    font-family: 'Didact Gothic', sans-serif;
}

.arimo-font {
    font-family: 'Arimo', sans-serif;

}

footer {
    /*--- background is a darker grey to set it apart from te rest of webpage ---*/
    background-color: #7f7f7f;
    color: #ffffff;
    font-size: 12px;
}

.padding-footer-content {
    padding: 20px
}

.footer-social-media {
    /*---creates appropriate spacing for social links in footer--*/
    padding-left: 20px;
    padding-top: 20px;
}

.footer-social-media i {
    /*---blue color--*/
    color: #03A9F4;
    font-size: 20px;
    padding: 15px;

}

.footer-social-media i:hover {
    /*--- color of background: darker green ---*/
    color: #2567ae;
    /*--- when mouse is hovered the button will transition for .40seconds to a darker green color.
    the color will gradually ease in and then ease out. ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}



/*---MEDIA QUERIES---*/

/*--- adjustemnts for different screensizes, small-->big ---*/

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    

}

@media (min-width: 992px) {
    

}

@media (min-width: 1200px) {
   
}

@media (min-width: 1400px) {
    .my-logo {
    height: 200px;
    width: 250px;
    }
}