body {
    padding-top: 0;
}

form {
    width: 50%;
}

.my-search-icon {
  color: #7f7f7f;  
}

.my-navbar-brand {
    margin-right: 0;
}

.spacing-navbar-navs {
    width: 600px;
    justify-content: flex-end;
}

.my-input-line {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 200px;
}

.search-btn {
    background-color: transparent;
    border: 0px;
}

.my-navbar {
    background-color: white;
    padding-left: 40px;
    padding-right: 20px;
}

.my-nav-item {
    padding: 15px;
}

.my-logo {
    height: 75px;
    width: 100px;
}

.didact-gothic-font {
    font-family: 'Didact Gothic', sans-serif;
}

.arimo-font {
    font-family: 'Arimo', sans-serif;

}

footer {
    /*--- background is a darker grey to set it apart from te rest of webpage ---*/
    background-color: #7f7f7f;
    color: #ffffff;
    font-size: 12px;
}

.padding-footer-content {
    padding: 20px
}

.footer-social-media {
    /*---creates appropriate spacing for social links in footer--*/
    padding-left: 20px;
    padding-top: 20px;
}

.footer-social-media i {
    /*---blue color--*/
    color: #e5abc6;
    font-size: 20px;
    padding: 15px;

}

.footer-social-media i:hover, .my-search-icon:hover, .nav-icon:hover {
    /*--- color of background: darker green ---*/
    color: #ed68a6;
    /*--- when mouse is hovered the button will transition for .40seconds to a darker green color.
    the color will gradually ease in and then ease out. ---*/
    transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    /*--- adjustments for each web browser ---*/
}

.product-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
display: flex;
flex-wrap: wrap;
margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 20px;
}

.panel-body {
    padding: 10px;
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

/*---MEDIA QUERIES---*/

/*--- adjustemnts for different screensizes, small-->big ---*/

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    

}

@media (min-width: 992px) {
    

}

@media (min-width: 1200px) {
   
}

@media (min-width: 1400px) {
    .my-logo {
    height: 200px;
    width: 250px;
    }
}