{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_heading %}
Order Summary
{% endblock %}
<!-- JS in html to call to stripe publichable key, this completes the transaction -->
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<!-- For Loop is used to show the items in the cart as an Order preview -->
{% for item in cart_items %}
<div class="row align-items-center">
        <div class="col-sm">  
            <!-- for all product images that are being pulled from the database they had to be placed in the html with a style attribute -->      
            <div class="product product-image-in-cart" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}">
        
            </div>  
        </div>
        <div class="col-sm">
            <div class="caption d-sm-none d-md-block">
            <!-- Gives name of specific item to be ordered -->
                <h3>{{ item.product.name }}</h3>
                <!-- short product description -->
                <p class="product-description">{{ item.product.description|truncatewords:10 }}</p>
            </div>
            <div class="caption d-none d-sm-block d-md-none">
                <h5>{{ item.product.name }}</h5>
            </div>
        </div>
        <div class="col-sm">
        <!--gives how much to order of that specific product-->
            <p>Qty: {{item.quantity}}</p>
            <!--gives product price of specific item in the cart-->
            <p><i class="fas fa-euro-sign"></i> {{ item.product.price }}</p>
        </div>
    </div> 
    <hr class="my-block-divider">
    {% endfor %}
    <!--triggers view cart function to take user back to cart while in the checkout page-->
    <a href="{% url 'view_cart' %}" class="button-login-color"><i class="fas fa-arrow-left"></i> Back to Cart</a>
<div class="row justify-content-end">
    <p class="check-out-div-items-padding">Total:</p>
    <p class="check-out-div-items-padding"><i class="fas fa-euro-sign"></i> {{ total }}</p>
</div>

<!--Submits payment to stripe, all verification done through stripe, triggers checkout function-->
<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend>Personal Info</legend>
        <hr class="my-checkout-block-divider">
    <div id="credit-card-errors" style="display: none;">
        <div id="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    <div class="row">
    <div class="form-group col-sm">
        {{ order_form | as_bootstrap }}
    </div>
    </div>
    <legend>Payment Details</legend>
    
    <hr class="my-checkout-block-divider">
    <div class="row">
    <div class="form-group col-sm">
        {{ payment_form | as_bootstrap }}
    </div>
    </div>
    <button type="button" class="btn button-login-color" data-toggle="modal" data-target="#exampleModal">
    Review Order
    </button>

    <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Everything Look okay?</h4+>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                {% for item in cart_items %}
                    <div class="row align-items-center">
                        <div class="col-sm">  
                        <!-- for all product images that are being pulled from the database they had to be placed in the html with a style attribute -->      
                            <div class="product product-image-in-cart" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}">
                            </div>  
                        </div>
                        <div class="col-sm">
                            <div class="caption d-sm-none d-md-block">
                            <!-- Gives name of specific item to be ordered -->
                                <h3>{{ item.product.name }}</h3>
                                <!-- short product description -->
                                <p class="product-description">{{ item.product.description|truncatewords:10 }}</p>
                            </div>
                            <div class="caption d-none d-sm-block d-md-none">
                                <h5>{{ item.product.name }}</h5>
                            </div>
                        </div>
                        <div class="col-sm">
                        <!--gives how much to order of that specific product-->
                            <p>Qty: {{item.quantity}}</p>
                            <!--gives product price of specific item in the cart-->
                            <p><i class="fas fa-euro-sign"></i> {{ item.product.price }}</p>
                        </div>
                    </div> 
                    <hr class="my-block-divider">
                    {% endfor %}
                    <!--triggers view cart function to take user back to cart while in the checkout page-->
                    <div class="row justify-content-end">
                        <p class="check-out-div-items-padding">Total:</p>
                        <p class="check-out-div-items-padding"><i class="fas fa-euro-sign"></i> {{ total }}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <div class="form-group col-md-12">
                        <input class=" btn button-login-color" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</form>
{% endblock %}