{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% block page_title %}Login Page{% endblock %} 
{% block page_heading %}Login{% endblock %} 

{% block content %}
<form class="login-spacing-sizing" method="POST">
    {% csrf_token %} {{ login_form | as_bootstrap}}
    <button type="submit" class="btn button-login-color">Login</button>
</form>
<p>
    New here? <a href="{% url 'registration' %}">Create Account</a>
</p>
<p>
    Forget password? <a href="{% url 'password_reset' %}">Reset</a>
</p>
{% endblock %}