{% extends "base.html" %}
{% block page_title %}Order Details{% endblock %}
{% block page_heading %}{{ user }}'s Order Info{% endblock %}
{% block content %}
  <section>
    <span>
      

      <h4 class="top-buffer">Order date:</h4>
      <p class="bold-text">{{ order.date }}</p>

      <h4 class="top-buffer">Items ordered:</h4>

      {% for item in line_item %}
        <div class="row">
            <p class="col-sm-2 col-md-3 bold-text">{{ item.product }}</p>
            <p class="col-sm-1 col-md-1 bold-text">{{ item.quantity }}</p>
            <p class="col-sm-1 col-md-1 bold-text">{{ order_total }}</p>
        </div>
      {% endfor %}
    </span>
  </section>

{% endblock %}