{% extends "base.html" %}
{% block page_title %}Order Details{% endblock %}
{% block page_heading %}{{ user }}'s Order Info{% endblock %}
{% block content %}
<a href="{% url 'profile' %}" class="button-login-color"><i class="fas fa-arrow-left"></i> Back to Profile</a>
<section>
    <span>
      {% for item in line_item %}
        <div class="row align-items-center">
            <div class="col-sm">
                <h4 class="top-buffer">Order date:</h4>
                <p class="bold-text">{{ order.date }}</p>
            </div>
            <div class="col-sm">        
                <div class="product product-image-in-cart" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}">
                </div>  
            </div>
            <div class="col-sm">
                <div class="caption d-sm-none d-md-block">
                    <h4 class="top-buffer">Items ordered:</h4>
                    <h3>{{ item.product.name }}</h3>
                    <p class="product-description">{{ item.product.description|truncatewords:10 }}</p>
                </div>
                <div class="caption d-none d-sm-block d-md-none">
                    <h5>{{ item.product.name }}</h5>
                </div>
            </div>
            <div class="col-sm">
                <p>Qty: {{item.quantity}}</p>
                <p><i class="fas fa-dollar-sign"></i> {{ item.product.price }}</p>
            </div>
        </div> 
        <hr class="my-block-divider">
        {% endfor %}
        <div class="row justify-content-end">
            <p class="check-out-div-items-padding">Total:</p>
            <p class="check-out-div-items-padding"><i class="fas fa-dollar-sign"></i> {{ order_total }}</p>
        </div>
    </span>
</section>

{% endblock %}