{% extends 'base.html' %} 

{% block page_title %}My Profile{% endblock %} 

{% block page_heading %}{{ user }}'s Profile{% endblock %} 

{% block content %}
<a href="{% url 'index' %}" class="button-login-color"><i class="fas fa-arrow-left"></i> Back to Shop</a>

                    <div class="row">
                        <div class="col-6">
        <h3>Personal Info <i class="fas fa-user"></i></h3>
        <h6 class="py-2">
            <strong>Username:</strong>
        </h6>
        <p> {{ profile.username }} </p>
        <h6 class="py-2">
            <strong>Email Address:</strong>
        </h6>
        <p> {{ profile.email }} </p>
    </div>
    <div class="col-6">
        <h3> Order History <i class="fas fa-shopping-bag"></i> </h3>
            {% if has_order %}
            <a class="button-login-color" href= "{% url 'order_history' %}">Check out your Order History Here</a>
            {% else %}
            <a class="button-login-color" href= "{% url 'index' %}">You Have No Order History, Go Shop! </a>
            {% endif %}
    </div>
</div>
                    
{% endblock %}