{% extends 'base.html' %} 

{% block page_title %}My Profile{% endblock %} 

{% block page_heading %}{{ user }}'s Profile{% endblock %} 

{% block content %}
<a href="{% url 'index' %}" class="button-login-color"><i class="fas fa-arrow-left"></i> Back to Shop</a>

                    <div class="row">
                        <div class="col-6">
        <h3>Personal Info <i class="fas fa-user"></i></h3>
        <h6 class="py-2">
            <strong>Username:</strong>
        </h6>
        <p> {{ profile.username }} </p>
        <h6 class="py-2">
            <strong>Email Address:</strong>
        </h6>
        <p> {{ profile.email }} </p>
    </div>
    <div class="col-6">
        <h3> Order History <i class="fas fa-shopping-bag"></i> </h3>
            {% if orders %}
                {% for order in orders %}
                    <div class="row">
                        <article class="col-xs-9 col-sm-5 article-background profile-left-margin">
                            <h4>Order #: {{ order.id }}</h4>
                            <p class="bold-text">Date: {{ order.date }}</p>
                            <a href="{% url 'order-info' order.pk %}" class="btn btn-sm btn-info" style="margin-bottom: 10px;">Read more</a>
                        </article>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
</div>
                    
{% endblock %}