{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}

<div class="row row flex">
    {% for product in products %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default" id="shop">
        <div class="panel-body">
            <div class="product product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}">
            </div>
            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description|truncatewords:20 }} </p>
            <p><i class="fas fa-euro-sign"></i> {{ product.price }}</p>
            <form method="POST" id="quantity" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
				    <input type="number" value="1" aria-label="Search" min="1" max="999" class="form-control"  name="quantity" style="display:none">
					<button class="btn btn-outline-dark button-login-color arimo-font" type="submit">Add to cart</button>
                    <button type="button" class="btn adjust-item-button button-login-color arimo-font" data-toggle="modal" data-target="#exampleModalScrollable">View Details</button>
                </div>
            </form>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">{{ product.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="panel-body">
            <div class="product product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}">
            </div>
            <p class="product-description">{{ product.description }} </p>
            <p><i class="fas fa-euro-sign"></i> {{ product.price }}</p>
            
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<form method="POST" id="quantity" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
				    <input type="number" value="1" aria-label="Search" min="1" max="999" class="form-control"  name="quantity" style="display:none">
					<button class="btn btn-outline-dark button-login-color arimo-font" type="submit">Add to cart</button>
                </div>
            </form>
      </div>
    </div>
  </div>
</div>

    {% endfor %}
</div>
{% endblock %}