{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}My Cart{% endblock %} 
{% block page_heading %}
My Cart {% if product_count > 0 %}<label class="badge badge-pill badge-info">{{ product_count }}</label>{% endif %}
{% endblock %}


{% block content %}
<div class="container-fluid">

    {% for item in cart_items %}
    <div class="row row-flex">
    <div class="col-4">        
        <div class="product product-image-in-cart" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}">
        
        </div>
    </div> 
    <div class="col-4">   
        <div class="caption">
            <h3>{{ item.product.name }}</h3>
            <p class="product-description">{{ item.product.description }}</p>
        </div>
    </div>
    <div class="col-4">
        <p><i class="fas fa-euro-sign"></i> {{ item.product.price }}</p>
        <p> 
            <form class="form-inline" method="POST" action="{% url 'adjust_cart' item.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputAmount" class="sr-only">New Qty</label>
                    <div class="input-group">
                        <div class="input-group-addon">Qty:  </div>
                        <input name="quantity" type="number" min="0" max="999" class="form-control" placeholder="{{item.quantity}}" required>
                    </div>
                </div>
                <button type="submit" class="btn button-login-color arimo-font"><i class="fas fa-plus"></i></button>
                <a href="{% url 'remove_from_cart' item.id %}" class="button-login-color arimo-font">Remove</a>
            </form>
        </p>
    </div>
</div>
    <hr class="my-block-divider">
    {% endfor %}

</div>
<div class="row justify-content-end">
    <p>Total</p>
    <p>{{ total }}</p>
    <a href="{% url 'checkout' %}" class="btn btn-success" role="button">Checkout</a>
</div>

{% endblock %} 