{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}My Cart{% endblock %} 
<!-- All headings have same style, font, and sizing, 
this one calls to the users products in their cart. 
If there is nothing in the cart, the pill will not show -->
{% block page_heading %}s
My Cart {% if product_count > 0 %} <label class="badge badge-pill my-badge">{{ product_count }}</label> {% endif %}
{% endblock %}


{% block content %}
<div class="container-fluid">
<!-- IF NOT statement is used to check if there are any items in the cart -->
{% if not cart_items %}
    <div class="row justify-content-center">
        <heading class="col-11 col-md-8 col-lg-6 text-center">
        <!-- will Display if there is nothing in the cart -->
            <h1>Your cart is empty!</h1>
            <!-- triggers all_product function, takes user to home page that displays all products -->
            <a href="{% url 'products' %}" class="button-login-color arimo-font" >Lets go Shop</a>
        </heading>
    </div>
{% else %}
<!-- ELSE, if there are items in the cart then you will be displayed your items in the following FOR LOOP -->
    {% for item in cart_items %}
    <div class="row align-items-center">
        <div class="col-sm">
            <!-- for all product images that are being pulled from the database they had to be placed in the html with a style attribute -->      
            <div class="product product-image-in-cart" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}">
        
            </div>  
        </div>
        <div class="col-sm">
        <!-- shows all of the product info specific to the items in the cart -->
            <div class="caption d-sm-none d-md-block">
                <h3>{{ item.product.name }}</h3>
                <p class="product-description">{{ item.product.description|truncatewords:10 }}</p>
            </div>
            <div class="caption d-none d-sm-block d-md-none">
                <h5>{{ item.product.name }}</h5>
            </div>
        </div>
        <div class="col-sm">
            <p><i class="fas fa-euro-sign"></i> {{ item.product.price }}</p>
            <!-- the adjust_cart url triggers that function, it also targets a specific item in the cart -->
            <form class="form-inline" method="POST" action="{% url 'adjust_cart' item.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputAmount" class="sr-only">New Qty</label>
                    <div class="input-group">
                        <div class="input-group-addon">Qty:  </div>
                        <input name="quantity" type="number" min="0" max="999" class="form-control" placeholder="{{item.quantity}}" required>
                    </div>
                </div>
                <button type="submit" class="btn adjust-item-button button-login-color arimo-font"><i class="fas fa-edit"></i>  </button>
                <!-- This triggers remove_from_cart function and targets specific item id -->
                <a href="{% url 'remove_from_cart' item.id %}" class="button-login-color arimo-font">Remove</a>
            </form>
    
        </div>
    </div> 
    <hr class="my-block-divider">
    {% endfor %}
</div>
<div class="row justify-content-end check-out-div">
    <p class="check-out-div-items-padding">Total </p>
    <p class="check-out-div-items-padding"><i class="fas fa-euro-sign"></i> {{ total }}</p>
    <a href="{% url 'checkout' %}" class="btn button-login-color" role="button">Checkout</a>
</div>
{% endif %}
{% endblock %} 